{% extends "admin/index.html" %}
{% from "macros.html" import render_pagination %}

{% block title %}
Admin - courses
{% endblock %}

{% block operation %}
    <a href="{{ url_for('admin.create_course') }}" type="button" class="btn btn-primary">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      add course
    </a>
{% endblock %}

{% block admin %}
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>name</th>
      <th>author</th>
      <th>operate</th>
    </tr>
    <tbody>
      {% for course in pagination.items %}
      <tr>
        <td>{{ course.id }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.author.username }}</td>
        <td>
          <div class="btn-group" role="group">
              <a href="{{ url_for('admin.edit_course', course_id=course.id) }}" type="button" class="btn btn-default" title="edit">
              <span class="glyphicon glyphicon-pencil" title="edit" aria-hidden="true"></span>
            </a>
            <a href="{{ url_for('admin.delete_course', course_id=course.id) }}" type="button" class="btn btn-default" title="romove">
              <span class="glyphicon glyphicon-trash" title="remove" aria-hidden="true"></span>
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </thead>
</table>
{{ render_pagination(pagination, 'admin.courses') }}
{% endblock %}
