{% extends "admin/index.html" %}
{% from "macros.html" import render_pagination %}

{% block title %}
Admin - users
{% endblock %}

{% block operation %}
    <a href="{{ url_for('admin.create_user') }}" type="button" class="btn btn-primary">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      add user
    </a>
{% endblock %}
{% block admin %}

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>username</th>
      <th>password</th>
      <th>email</th>
      <th>operate</th>
    </tr>
    <tbody>
    {% for user in pagination.items %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.password }}</td>
      <td>{{ user.email }}</td>
      <td>
        <div class="btn-group" role="group">
            <a href="{{ url_for('admin.edit_user', user_id=user.id) }}" type="button" class="btn btn-default" title="edit">
            <span class="glyphicon glyphicon-pencil" title="edit" aria-hidden="true"></span>
          </a>
          <a href="{{ url_for('admin.delete_user', user_id=user.id) }}" type="button" class="btn btn-default" title="remove">
            <span class="glyphicon glyphicon-trash" title="remove" aria-hidden="true"></span>
          </a>
        </div>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </thead>
</table>
{{ render_pagination(pagination, 'admin.users') }}
{% endblock %}

